@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{
    --O-color: #2196f3;
    --X-color: #e61c59;
    --D-color: #777
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
  
    font-family: Roboto;
    background-color: #777 ;
}

main{
 height: 100vh;
}

.tittle{
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
    color: #eee;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.sub-tittle{
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    color: #ececec;
    margin-bottom: 0.5rem;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(3, 240px);
    row-gap: 1rem;
    column-gap: 1rem;
}

.cell {
    display: grid;
    align-items: center;
    justify-content: center;
  
    background-color: #aaa;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #00000066;
  
    cursor: pointer;
  }

  .cell:not(.O):not(.X):hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.cell.O {
    background-color: var(--O-color);
}

.cell.X{
    background-color: var(--X-color);
}

.cell.O, .cell.X, .game-over .cell{
    cursor: not-allowed;
}

.board.game-over{
    opacity: 0.8;
}


footer{
    margin-top: 2rem;
    text-align: center;
}

/* .winner-msg{
    margin: 2rem;
} */

.winner-msg span.O, .sub-tittle span.O{
    color: var(--O-color);
}

.winner-msg span.X, .sub-tittle span.X{
    color: var(--X-color);
}

.winner-msg span.D{
    color: var(--D-color);
}

button{
    margin-bottom: 1rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #7dbb40;
    color:white;
    font-size: 1.2rem;
}
